{
  "all": true,
  "check-coverage": true,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.test.ts",
    "dist/**",
    "certs/**",
    "test/**",
    "coverage/**",
    "src/db/migrations/**",
    "env/**",
    "src/index.js"
  ],
  "skip-full": true,
  "sourceMap": true,
  "instrument": true,
  "require": ["@babel/register"],
  "reporter": ["text", "html", "lcov"],
  "lines": 80,
  "branches": 65,
  "functions": 70,
  "statements": 80,
  "report-dir": "./.test-coverage",
  "temp-dir": "./.nyc_output"
}
